
* {
    box-sizing: border-box;
}

body {
    background: #488E98;
    color: #fff;
    font-family: 'Black And White Picture', sans-serif;
}

header {
    width: 100%;
}

h1 {
    font-size: 32px;
    margin-bottom: 30px;
    text-decoration: underline;
}

h3 {
    font-size: 22px;
}

h2 {
    font-size: 26px; 
    margin-bottom: 20px;
}

.header-image {
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;

}

.column-left,
.column-right {
    border: 2px solid #fff; 
    background: #ff1104;
    opacity: 0.8;
    width: 50%;
    min-height: 500px;
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}

#fill-image {
    border: 1px solid #fff;
    width: 100%;
    margin-bottom: 10px;
}

#wins,
#losses {
    font-size: 32px;
    text-decoration: underline;
}

@media screen and (max-width: 640px) {
    .container {
        flex-direction: column-reverse;
    }
    
    .column-left,
    .column-right {
        margin: 0 auto;
        width: 80%;
        min-height: auto;
    }
}