
* {
    box-sizing: border-box;
}

body {
    background: #A62005;
    color: #FF9400;
    font-family: 'Black And White Picture', sans-serif;
}

header {
    width: 100%;
}

.header-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.column-left,
.column-right {
    border: 2px solid #FFF1B2; 
    width: 50%;
    min-height: 500px;
    float: left;
    text-align: center;
    padding: 20px;
}

p {
    font-size: 28px; 
    margin-bottom: 20px;
}

#start {
    font-size: 40px;
}

@media screen and (min-width: 960px) {
    .container {
        position: relative;
        bottom: 256px; 
    }

    .column-left,
    .column-right {
        background: #A62005;
    }

}